*{
    font-family: Comic Sans MS, Comic Sans, cursive;
    background-color: aquamarine;
}

.centerItem{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.textWidth {
    max-width: 50%;
}

.margin10 {
    padding: 5%;
}

.imageWidth{
    max-width: 35%;
}

.width25{
    max-width: 25%;
}

.noList{
    text-decoration: none;
    list-style: none;
}

@media screen and ( max-width: 768px){
    .aboutNPic {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        align-items: center;
    }
    
    .smList{
        display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
    }
    
}    

@media screen and ( max-width: 500px) {
    .aboutNPic {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        align-content: stretch;
        align-items: center;
        flex-wrap: wrap;
    }
    .eachWork {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        align-items: center;
    }
}

@media screen and ( max-width: 375px) {
    .eachWork {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        align-items: center;
    }
    
}